form{
    width: 30%;
    margin: 0 auto;
    padding: 20px;
  }
  mat-form-field{
    width: 100%;
  }
  button{
    width: 50%;
  }
  .center{
    padding: 0 auto;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .outer{
    width: 20%;
    height: 100%;
    margin: 0 36%;
    align-items: center;
  }